@import url('https://fonts.googleapis.com/css2?family=Khmer&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Khmer", sans-serif;
  font-weight: 400;
  font-style: normal;
}